---
import { Converter } from "@/components/screens/converter";

import Layout from "@/layouts/Layout.astro";

const title = "HTML to React JSX Converter";
const description =
    "Convert your HTML code to React JSX quickly and easily. Paste your HTML in the below and get JSX.";
---

<Layout
    title={title}
    description={description}
    class="flex w-full flex-col items-center justify-center py-10"
>
    <h2 class="mb-2 text-xl font-bold sm:text-2xl md:text-3xl">{title}</h2>
    <p
        class="mb-6 max-w-md px-4 text-center text-sm text-gray-600 sm:max-w-lg sm:px-6 sm:text-base md:max-w-4xl dark:text-gray-400"
    >
        {description}
    </p>
    <Converter client:load />
</Layout>
